@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  --title-size: 60px;
  --title-weight: 600;
  --title-line-height: 90px;

  --heading-size: 50px;
  --heading-weight: 600;

  --text-size: 16px;
  --text-weight: 300;
}

@media (max-width: 1280px) {
  :root {
    --title-size: 50px;
    --title-line-height: 75px;

    --heading-size: 40px;

    --text-size: 15px;
  }
}

@media (max-width: 640px) {
  :root {
    --title-size: 36px;
    --title-line-height: 60px;

    --heading-size: 34px;

    --text-size: 14px;
  }
}



body * {
  transition: 300ms ease-in-out;
}

.BackgroundGradient {
  background: radial-gradient(ellipse 90% 100% at top, #000000 50%, #5240C9 85%, #7160DE 100%);
}

.TransparentBackgroundGradient {
  position: relative;
  background: radial-gradient(ellipse 90% 100% at top, #000000 50%, #5240c96e 95%, #7160de6b 100%);
  overflow: hidden;
  /* Ensures no content overflows the box */
}

.UpsideDownBackgroundGradient {
  background: radial-gradient(ellipse 90% 100% at bottom, #000000 50%, #5240C9 85%, #7160DE 100%);
}

.UmbrellaBackgroundGradient {
  background: radial-gradient(ellipse 100% 100% at bottom, #000000 78%, #5240C9 90%, #9F90FF 100%);
}


.TransparentBackgroundGradient::before {
  content: "";
  position: absolute;
  top: 0px;
  /* Adjust to control the blur radius */
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: inherit;
  /* Inherit the background to match */
  filter: blur(5000px);
  /* Blur the background */
  z-index: -1;
  /* Ensure it stays behind the content */
}


.TextGradient {
  background-image: linear-gradient(45deg, #998BF9, #5840F0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
}

.BoxShadow {
  box-shadow: rgba(3, 3, 13, 0.03) 0px 1px 2px 0px, rgba(3, 3, 13, 0.05) 0px 1px 3px 0px, rgba(255, 255, 255, 0.3) 0px 1px 0px 0px inset
}

.TitleFont {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  line-height: var(--title-line-height);
}

.HeadingFont {
  font-size: var(--heading-size);
  font-weight: var(--heading-weight);
}

.TextFont {
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  opacity: 0.90;
}

.CaseStudyHover:hover .ViewMoreCard {
  opacity: 1;
}

.ViewAllWorkHover:hover .ViewAllWorkCircle {
  background-color: white;
  box-shadow: none;
}

.ViewAllWorkHover .ViewAllWorkArrow {
  width: 0;
  /* Initially set width to 0 */
  overflow: hidden;
  /* Hide the overflow content */
  transition: width 0.5s ease-out;
  /* Smooth transition for the width */
}

.ViewAllWorkHover:hover .ViewAllWorkArrow {
  width: 30px;
  /* Adjust this value to the desired width of the arrow */
}



.ViewAllWorkHover:hover .ViewAllWorkText {
  opacity: 0.65;
}

.NavItemHover .NavItemUnderline {
  transform: scaleX(0);
}

.NavItemHover:hover .NavItemUnderline {
  transform: scaleX(1);
}

.NavItemHover:hover {
  opacity: 0.80;
}